.container {
  margin-top: 150px;
  font-family: var(--font-family-pp-neue-montreal-bold);
  letter-spacing: 2px;
}

.aboutHeader {
  margin: 150px 0px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  height: 650px;
}

.leftSection {
  margin-left: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.info {
  position: relative;
  top: -200px;
}

.fa {
  padding: 0.2rem 1rem;
  width: 1rem;
}

.who,
.what,
.where,
.when {
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  font-size: var(--font-size-l);
}

.what,
.where,
.when {
  opacity: 0.3;
}

.w {
  color: var(--red);
}

.rightSection {
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.image {
  position: relative;
  top: -61px;
}

.bioElevatorPitch {
  display: flex;
  flex-direction: row;
  margin: 500px 0px 340px 0px;
}

.leftBioSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bio {
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-l);
  line-height: 30px;
  width: 680px;
  height: 400px;
  position: relative;
  left: 100px;
  top: -200px;
}

.redContainer {
  height: 330px;
  width: 470px;
  background-color: var(--red);
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
  top: 300px;
}

.bioCTA {
  position: relative;
  top: 150px;
  right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  width: 300px;
  height: 80px;
  border: 8px solid var(--black);
  text-align: center;

  a {
    text-decoration: none;
    font-family: var(--font-family-pp-neue-montreal-bold);
    color: var(--black);
    font-size: var(--font-size-l);
  }

  &:hover {
    border-color: var(--black2);
    background-color: var(--grey6);
    transition: background-color 0.3s ease-in-out;
  }
}

.card {
  font-family: var(--font-family-merriweather);
  display: flex;
  margin: 0rem 2rem 0rem 2rem;
  padding: 2rem;
  width: 500px;
}

.cardImage {
  margin-right: 1rem;
  border: 4px solid var(--black);
}

.cardText {
  width: 400px;
}

.cardTitle {
  margin: 1rem;
}
.cardDescription {
  margin: 1rem;
}
.testimonials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  padding: 2rem;
}
