.container {
  margin-top: 150px;
  font-family: var(--font-family-pp-neue-montreal-bold);
  letter-spacing: 2px;

  .aboutHeader {
    margin: 150px 0px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    height: 650px;

    .leftSection {
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }

    .rightSection {
      margin-right: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      .image {
        position: relative;
        top: -61px;
      }
    }
  }

  .bioElevatorPitch {
    display: flex;
    flex-direction: row;
    margin: 200px 0px 200px 0px;
  }

  .leftBioSection {
    display: flex;
    flex-direction: column;
    flex: 1;

    .bio {
      font-family: var(--font-family-merriweather);
      font-size: var(--font-size-l);
      font-weight: 100;
      line-height: 30px;
      width: 680px;
      height: 400px;
      position: relative;
      left: 100px;
      top: -200px;
    }
  }

  .rightBioSection {
    position: relative;
    top: 100px;

    .redContainer {
      height: 330px;
      width: 400px;
      border: var(--red) solid 8px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .bioCTA {
      position: relative;
      top: -150px;
      right: 110px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--white);
      width: 350px;
      height: 80px;
      border: 8px solid var(--black);
      text-align: center;

      a {
        text-decoration: none;
        font-family: var(--font-family-pp-neue-montreal-bold);
        color: var(--black);
        font-size: var(--font-size-l);
      }

      &:hover {
        border-color: var(--black2);
        background-color: var(--grey6);
        transition: background-color 0.3s ease-in-out;
      }
    }
  }

 
  .testimonialSection {
    .whatTheySay {
      margin: 0px 0px 0px 100px;
      font-size: var(--font-size-xxl);
      color: var(--red);
      padding: 1rem;
      width: max-content;
    }
  
  }
}

@media (min-width: 376px) and (max-width: 745px) {
  .container {
    margin: 0px auto;
    text-align: center;


    border: solid green 3px;

    .aboutHeader {
      display: none !important;

      .leftSection {
        
      }

      .rightSection {
        .image {
        }
      }
    }

    .bioElevatorPitch {


      .leftBioSection {
        flex: 0;
        .bio {
          margin: 0px auto;
          border: solid purple 3px;
          left: 0px;
        }
      }

      .rightBioSection {
        top: 400px;

        .redContainer {
          display: none !important;
        }

        .bioCTA {
       right: 0px;
        }
      }
    }
  }

 
}

