.navigation {
  flex: 1;
  margin: 100px 0 0 80px;


  .who,
  .what,
  .where,
  .when {
    display: flex;
    align-items: center;
    line-height: 1.5rem;
    font-size: var(--font-size-l);

    .fa {
      padding: 0.2rem 0;
      width: 1rem;
    }

    .link {
      text-decoration: none;
      margin-left: 10px;

      &:hover{
        font-weight: bold;
      }

      .w {
        color: var(--red);
      }

    }


  }
}