.whatHeader {
  border: blue solid 1px;
  display: flex;
  justify-content: space-between;
}
.rightSection {
  border: red solid 1px;
  
  
}

.leftSection {
  border: green solid 1px;
  
 
}













.fa {
  padding: 0.2rem 1rem;
  width: 1rem;
}

.who,
.what,
.where,
.when {
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  font-size: var(--font-size-l);
}

.what,
.where,
.when {
  opacity: 0.3;
}

.w {
  color: var(--red);
}
