.whatHeader {
  font-family: --font-base, sans-serif;
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.leftSection {
  font-weight: bold;
  min-width: 250px;
}

.fa {
  padding: 0.2rem 1rem;
  width: 1rem;
}

.who,
.what,
.where,
.when {
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  font-size: var(--font-size-l);
}

.who,
.where,
.when {
  opacity: 0.3;
}

.w {
  color: var(--red);
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1500px;

  .info1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .redDiv {
      background-color: var(--red);
      height: 100px;
      width: 560px;
      position: relative;
      top: 20px;
      left: 550px;
      z-index: -1;
    }

    .text1 {
      font-size: var(--font-size-m);
      color: var(--white);
      width: 550px;
      height: 110px;
      background-color: var(--black);
      padding: 20px;
    }
  }

  .info2 {
    font-size: var(--font-size-l);
    color: var(--red);
    width: 1100px;
    text-align: right;
    margin: 150px 0px;
  }
}

.imagesAndTextContainer {
  height: 650px;
  display: flex;
  flex-direction: row;
}
.red {
  flex: 1;

  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image1 {
  width: 400px;
  height: 200px;
  z-index: -1;
}

.image {
  width: 400px;
  height: 300px;
  position: relative;
  align-self: center;
  top: -100px;
}
.green {
  flex: 1;

  height: 650px;
  display: flex;
  flex-direction: column;
}
.text {
  flex: 1;
  font-family: var(--text-base);
  font-size: var(--font-size-m);
  line-height: 35px;
  width: 600px;
}
.h3 {
  flex: 1;
  color: var(--red);
  font-size: var(--font-size-xxl);
  font-family: var(--font-family-pp-neue-montreal-bold);
}

.textContainer {
  height: 550px;
  display: flex;
  flex-direction: row;
}

.leftText {
  flex: 1;

  display: flex;
}

.rightText {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.leftParagraph {
  margin: 0 auto;
  width: 400px;
  align-self: center;
  line-height: 35px;
  font-family: var(--font-text);
  font-size: var(--font-size-m);
}

.h3Div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 140px;
}
.growth {
  font-family: var(--font-family-pp-neue-montreal-bold);
  font-size: var(--font-size-l);
  color: var(--white);
  background-color: var(--red);
  padding: 5px 30px 5px 60px;
  width: max-content;
  letter-spacing: 5px;
}

.blackDiv {
  background-color: var(--black);
  width: 500px;
  height: 20px;
}
.silverDiv {
  background-color: var(--grey4);
  width: 350px;
  height: 15px;
}

.bottomText {
  font-family: var(--text-base);
  line-height: 35px;
}

.rightParagraph {
  margin: 0 auto;
  width: 400px;
  align-self: center;
  line-height: 35px;
  font-family: var(--font-text);
  font-size: var(--font-size-m);
}

.silverSection {
  background-color: var(--grey5);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: var(--font-size-l);
    width: 1200px;
    text-align: center;
    font-family: var(--font-family-pp-neue-montreal-bold);
  }
}

.bottomBlackDiv {
  background-color: var(--black);
  height: 15px;
  width: 500px;
}

.bottomRedDiv {
  background-color: var(--red);
  height: 10px;
  width: 400px;
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 200px 0px;

  .servicesH2 {
    h2 {
      text-align: right;
      color: var(--red);
      font-family: var(--font-family-pp-neue-montreal-bold);
      font-size: var(--font-size-xxxxl);
      z-index: -1;
      position: relative;
      top: 60px;
    }
  }
}
.silverContainer {
  background-color: var(--grey5);
  height: 800px;
  font-family: var(--font-family-pp-neue-montreal-bold);
  font-size: var(--font-size-l);

  h2 {
    color: var(--grey5);
    -webkit-text-stroke: 1.5px var(--red);
    font-size: var(--font-size-xxxl);
    letter-spacing: 5px;
    margin: 30px 0px 20px 90px;
  }

  .linkContainer {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 450px;
    height: 80px;
    border: 8px solid var(--black);

    &:hover {
      border-color: var(--black2);
      background-color: var(--grey6);
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;
    }
  }
  .link {
    text-decoration: none;
    color: var(--red);
    letter-spacing: 3px;
  }
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0px;
}

.blackContainer {
  background-color: var(--black);
  height: 400px;
  font-family: var(--font-family-merriweather);
  margin: 0px 0px 50px 0px;

  .listContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--white);
  }

  ul {
    line-height: 40px;

    margin-top: 60px;
  }
}
