.stickyContainer {
  position: sticky;
  top: 0;
  font-family: var(--font-family-pp-neue-montreal-bold);
}

.navContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
  align-items: center;
}

.logo {
  font-size: var(--font-size-xxxl);
}

.navBar {
  width: 40%;

}

.links {
 
  gap: 20px; 
  list-style-type: none;
  
}


.navLinks {

  &:hover{
    color: var(--red);
  }
}

