//  THe navbar: sticky is the main container that holds all the components
.navBar {
  font-family: var(--font-family-pp-neue-montreal-book);
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

// app logo
.logo {
  margin-left: 50px;
  text-decoration: none;
  color: var(--black);
  font-family: var(--font-family-pp-neue-montreal-bold);
  letter-spacing:2  px;
}

.logo:hover {
  color: var(--red);
}


// mobile view hamburger menu
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}
//main css for all the bars
.bar {
  width: 2rem;
  height: 0.25rem;
  background-color: #db0000;
  border-radius: 10px;
  transition: all 0.3s linear;
}
//css for each specific bar that makes up the hamburger menu: top mid bottom
.bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar2 {
  opacity: 0;
}

.bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
// mobilenavigation

.mobileLinks {
  position: absolute;
  top: 100px;
}

.mobileClosed {
  display: none;
}

// the main navigation
.mainNavigation {
  display: flex;
  flex-direction: row;
  // margin-right: 200px;

  li {
    list-style-type: none;
    width: 130px;
  }

  li a {
    display: block;
    text-decoration: none;
    color: var(--black);
  }
  li a:hover {
    font-family: var(--font-family-pp-neue-montreal-bold);
  }
  //hides the dropdown menu for the More Link
  .dropdown {
    display: none;
    li{
      margin: 15px 0px;
    }
  }
}

.mainNavigation li a:after {
  content: '';
  display: block;
  width: 35px;
  height: 5px;
  background: var(--red);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;

}

.mainNavigation li a:hover:after {
  transform: scaleX(1);
}

.navLinks {
  color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

//when a user hovers over more, the dropdown appears
li:hover .dropdown {
  position: absolute;
  display: block;
  z-index: 9999;
}

.more:hover {
  color: var(--red);
  font-family: var(--font-family-pp-neue-montreal-bold);
}

// mobile view css settings



@media (max-width: 768px) {
  .logo {
    margin-left: 10px;
  }
  .hamburger {
    margin-right: 20px;
    display: flex;
  }

  .mainNavigation {
    display: none;
  }

  .dropdown {
    display: block;
  }

  .mobileNavLinks  {
    position: relative;
    right: 190px;
    width: 250px;
    background-color: var(--grey5);
    list-style-type: none;
    padding: 30px;
    margin: auto 30px;
    transition: 1.5s ease-in-out; 
  }
  
  .mobileNavLinks a {
    text-decoration: none;
    color: var(--black);
  }
  .mobileNavLinks a:hover {
    font-family: var(--font-family-pp-neue-montreal-bold);
  }
  
  .mobileNavLinks li {
    margin-bottom: 20px;
  }
  
  .mobileNavLinks li a:after {
    content: '';
    display: block;
    width: 35px;
    height: 5px;
    background: var(--red);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }
  
  .mobileNavLinks li a:hover:after {
    transform: scaleX(1);
  }
}


//TODO make the mobile menu have an ease in ease out behavior

//TODO edit the circles as a logo

// .circles {
//   position: relative;
// }

// .circle1 {
//   background-color: var(--black2);
//   border-radius: 50%;
//   width: 60px;
//   height: 60px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .circle2 {
//   background-color: var(--dark-red);
//   border-radius: 50%;
//   width: 50px;
//   height: 50px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .circle3{
//   background-color: var(--red);
//   border-radius: 50%;
//   width: 40px;
//   height: 40px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .circle4 {
//   background-color: var(--white);
//   border-radius: 50%;
//   width: 20px;
//   height: 20px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }