.mySwiper {
  width: 100%;
  height: 100%;
  background: var(--grey5);
}

.swiperSlide {
  font-size: 18px;
  color: #ff0000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallaxBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  //   -webkit-background-size: cover;
  //   background-size: cover;
  //   background-position: center;
//   background: linear-gradient(to right, rgb(255, 0, 0), rgba(0, 0, 0, 0.5));
border: 8px solid var(--grey3);
}

.company{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0px 0px 40px;
    .image{
        border-radius: 50%;
        margin: 0px 10px 0px 0px;
    }

    .title {
        font-family: var(--font-family-pp-neue-montreal-bold);
        font-size: var(--font-size-xl);
        padding: 1rem 0rem 0rem 0rem ;
    
      }
      
      .subtitle {
        font-family: var(--font-family-pp-neue-montreal-bold);
        font-size: var(--font-size-l);

        a {
          text-decoration: none;
          color: var(--red);
        }
      }
      
}

.text {
    font-family: var(--font-family-merriweather);
    font-size: var(--font-size-m);
    line-height: 1.3;
    padding: 1rem 3rem;
    margin: 0px 0px 40px 40px;
    
}