/* navbar styles */

.navbar {
display: flex;
flex-direction: row;
.links:hover {
    color: var(--primary-color);
}

.list{
    li {
        margin-bottom: 1rem;
    }
list-style-type: none;
}

.links {
    color: var(--grey-2);
    font-family: var(--font-family-work-sans);
   
  
}

}

