/* about styles */

.footer {
  font-family: var(--font-family-work-sans);
  height: 100%;
  color: rgb(255, 0, 0);
  background-color: var(--dark-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 400px;
  padding: 30px 200px;

  .logo {
    background: var(--primary-color);
    width: 100px;
    height: 40px;
  }
}
