/*  Styles for the main app */

.main {
  top: 20px;
  background-color: var(--fourth-color);
  background-size: cover;
  height: 500px;
}

.section1 {
  background-color: var(--grey-400);
  height: 500px;
}

.section2 {
  background-color: var(--grey-700);
  font-family: var(--font-family-work-sans);
  height: 500px;
}

.section3 {
  background: var(--secondary-color);
  background-size: cover;
  height: 500px;
}

.section4 {
  background: var(--third-color);
  height: 500px;
  
}

.section5 {
  background: var(--primary-color);
  height: 500px;

  }
