.div-1,
.div-2,
.div-3,
.div-4,
.div-5,
.div-6,
.div-7,
.div-8,
.div-9 {
  height: 10px;
  width: 0;
  transition: width 3s;
}

.div-1 {
  background-color: rgb(60, 60, 60);
  transition-timing-function: linear;
}

.div-2 {
  background-color: rgb(120, 0, 0);
  transition-timing-function: ease;
}

.div-3 {
  background-color: rgb(202, 198, 198);
  transition-timing-function: ease-in;
}

.div-4 {
  background-color: rgb(248, 7, 7);
  transition-timing-function: ease-out;
}

.div-5 {
  background-color: rgb(40, 173, 210);
  transition-timing-function: ease-in-out;
}

.div-6 {
  background-color: rgb(135, 3, 3);
  transition-timing-function: step-start;
}

.div-7 {
  background-color: rgb(192, 192, 192);
  transition-timing-function: step-end;
}

.div-8 {
  background-color: rgb(66, 66, 66);
  transition-timing-function: steps(10, start);
}

.div-9 {
  background-color: rgb(168, 164, 164);
  transition-timing-function: steps(10, end);
}