//homepage
// screen size 1440 x 900 and up

.hero {
  margin: 40px 0px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.leftSection {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.mainHeader {
  font-family: var(--font-family-pp-neue-montreal-bold);

  h1 {
    font-size: var(--font-size-ramzi);
    letter-spacing: 5px;
    margin: 10px 0px;
  }

  h2 {
    font-size: var(--font-size-xxl);
  }

  h3 {
    margin: 0.8rem 0px 1.5rem 0px;
    font-size: var(--font-size-xl);
  }
}

.mainParagraph {
  margin: 10px 0px;
  width: 410px;
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-m);
  line-height: 30px;
}

.underline {
  padding-bottom: 10px;
  background: url("../public/assets/underline2.png") repeat-x bottom;
  background-size: 100% 25px;
  background-position: left bottom;
  font-style: italic;
}

.cta {
  margin: 30px 0px;
  font-size: var(--font-size-xxl);
  font-family: var(--font-family-pp-neue-montreal-bold);
  letter-spacing: 2px;
}

.ctaButton {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  border: 8px solid var(--black);

  &:hover {
    border-color: var(--black2);
    background-color: var(--grey6);
    transition: background-color 0.3s ease-in-out;
  }
}
.ctaButton a {
  text-decoration: none;
  font-size: var(--font-size-l);
  font-family: var(--font-family-pp-neue-montreal-bold);
  color: var(--red);
  letter-spacing: 4px;

  &:hover {
    color: var(--dark-red);
  }
}

.rightSection {
  background-color: var(--grey6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.image {
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .hero {
    margin: 40px 50px;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .mainHeader {
    h1 {
      font-size: var(--font-size-ramzi-ipad);
      letter-spacing: 8px;
    }
  }
  .mainParagraph {
    width: 500px;
  }

  .image {
    margin: 2rem;
  }
}

@media (min-width: 413px) and (max-width: 768px) {
  /* CSS for iPad */
  .rightSection {
    background-color: var(--grey1);
  }
}

@media (max-width: 430px) {
  .hero {
    margin: 0px auto;
  }

  .leftSection {
    margin-left: 0px;
  }

  .mainParagraph {
    width: 90%;
  }

  .cta {
    font-size: var(--font-size-xxl);
  }

  .mainHeader {
    h1 {
      font-size: var(--font-size-mobilePhone);
    }
    h2 {
      font-size: var(--font-size-xl);
    }
    h3 {
      font-size: var(--font-size-l);
    }
  }

  .rightSection {
    background-color: green;
  }
}
